github "Hearst-DD/ObjectMapper" ~> 1.0.1
github "kylef/Mockingjay" "40a2f0f4efb483b398dfe46e5d8a3cf6c1510ec3"
github "mxcl/PromiseKit" ~> 3.0.0
github "theadam/SwiftClient" "894faaa1474cedab535ee2efc9edb88de351d1e7"
